html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Fonts:
font-family: 'Montserrat', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Merriweather', serif;
 */

 /* Color Palette:
 rgb(247, 245, 230)
 rgb(51, 58, 86)
 rgb(82, 101, 143)
  */

/* Universal Styles */

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
   max-width: 1600px;
   margin: 0 auto;
}

.flex {
  display: flex;
}

h1 {
  font-size: 2.25rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h3 {
  font-size: 1.5rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

h4 {
  font-size: 1rem;
  font-family: 'Rokkitt', serif;
}

p {
  font-family: 'Rokkitt', serif;
  font-size: 1rem;
  line-height: 1.1;
}

.button {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 4px;
}

a {
  font-size: 1rem;
  font-weight: bold;
  font-family: 'Montserrat', sans-serif;
}

.quote {
  font-size: 1rem;
  font-family: 'Merriweather', serif;
  line-height: 1.45;
}

/* Header Logo/Company Name */

.tophead .container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 0 1.5rem;
  background-color: rgb(247, 245, 230);
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
  padding-right: 0.25rem;
  opacity: 0.7;
}

.logo h4 {
  font-family: 'Helvetica', sans-serif;
}

.logo span.Colmar {
  color: rgb(82, 101, 143);
  font-weight: bold;
}

.logo span.Academy {
  color: rgba(82, 101, 143, 0.6);
  font-weight: bold;
}

.tophead nav {
  display: inline-block;
  justify-content: flex-end;
}

/* Menu */

.tophead nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.tophead nav li {
  padding-left: 1rem;
}

.tophead nav a {
  color: rgb(82, 101, 143);
  font-size: 0.9rem;
}

.tophead nav a:hover {
  color: rgba(51, 58, 86, 0.6);
}

.tophead nav a:active {
  color: rgb(51, 58, 86);
}

.tophead i {
  color: rgb(82, 101, 143);
}

.tophead i:hover {
  color: rgba(51, 58, 86, 0.6);
}

.tophead i:active {
  color: rgb(51, 58, 86);
}

/* Hide mobile icons for desktops */

.logo a.mobile {
  display: none;
}

/* Tophead changes for 375px (mobile) screens */

@media only screen and (max-width: 375px)
{
  .tophead .container {
    display: block;
  }

  .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
  }

  .logo img {
    opacity: 0.5;
  }

  .logo a.mobile {
    display: inline-flex;
  }

  .logo h4 {
    display: none;
  }

  .tophead nav ul {
    display: none;
  }
}

/* Banner */

.banner .container {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  justify-content: flex-start;
  background-color: rgb(51, 58, 86);
}

.banner img {
  width: 60%;
  padding-right: 1.5rem;
}

.banner-text {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 30%;
  color: rgba(247, 245, 230, 0.8);
}

.banner-text h3 {
  padding: 1.5rem 0;
  font-weight: 400;
  font-family: 'Rokkitt', serif;
  line-height: 1.1;
}

.banner-text .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: rgb(82, 101, 143);
  color: rgba(247, 245, 230, 0.8);
}

/* Banner changes for 375px (mobile) screens */

@media only screen and (max-width: 375px)
{
  .banner .container {
    flex-direction: column;
    padding: 0;
    background-color: rgb(51, 58, 86);
  }

  .banner img {
    width: 100%;
    padding: 0;
  }

  .banner-text {
    display: inline-block;
    position: relative;
    width: 100%;
    padding: 2rem 1rem;
  }

  .banner-text h1 {
    font-size: 1.5rem;
    line-height: 1.2;
  }

  .banner-text h3 {
    font-size: 1rem;
    padding: 2rem 0 1.5rem 0;
  }

  .banner-text .button {
    border-bottom: 2rem;
  }
}

/* Information section */

.info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  background-color: rgb(82, 101, 143);
}

/* Lefthand main info box */

.info-main {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  color: rgba(247, 245, 230, 0.8);
}

.info-main img {
  width: 100%;
  padding: 2rem 1.5rem;
}

.info-main h2 {
  padding: 0 1.5rem;
}

.info-main p.quote {
  color: rgba(247, 245, 230, 0.8);
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

p.credit {
  font-weight: 300;
  padding: 0 1.5rem 2rem 1.5rem;
  color: rgba(247, 245, 230, 0.7);
}

/* Righthand list of other info boxes */

.info-other {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 40%;
  background-color: rgba(247, 245, 230, 0.8);
  margin-top: 2rem;
}

.info-other .info-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: 0.75px solid  rgb(82, 101, 143);
}

div.info-item.first {
  padding-top: 0;
}

div.info-item.last {
  background-color: rgba(82, 101, 143, 0.4);
}

.info-item img {
  padding: 1rem 1.5rem 1rem 1rem;
  width: 35%;
  height: auto;
}

img.mobile-image {
  display: none;
}

.info-details {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  padding: 1rem 0;
}

.info-details h3 {
  color: rgb(82, 101, 143);
}

.info-details h4 {
  font-weight: 300;
  padding-top: 0.5rem;
  color: rgb(82, 101, 143);
  line-height: 1.1;
}

.info-details a {
  padding-top: 0.5rem;
  color: rgb(82, 101, 143);
}

.info-details a:hover {
  color: rgba(51, 58, 86, 0.5);
}

.info-details a:active {
  color: rgb(51, 58, 86);
}

/* Information changes for 375px (mobile) screens */

@media only screen and (max-width: 375px) {

  .info {
    width: 100%;
    display: block;
    background-color: rgba(247, 245, 230, 0.8);
  }

  .info-main {
    display: none;
  }

  .info-other {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 1rem 1rem 2rem 1rem;
    background-color: transparent;
    margin-top: unset;
  }

  .info-other .info-item {
    display: inline;
    padding-bottom: 4rem;
    flex-direction: column;
    border: unset;
  }

  img.desktop-image {
    display: none;
  }

  img.mobile-image {
    display: inline;
    width: 100%;
    padding: 0;
    height: auto;
  }

  .info-details {
    padding-left: 1rem;
    position: relative;
    color: rgb(247, 245, 230);
  }

  .info-details a {
    font-size: 1rem;
  }

  div.info-item.last {
    background-color: transparent;
    padding-bottom: unset;
  }
}

/* Learning section */

.learn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 4.5rem;
  background-color: rgba(82, 101, 143, 0.6);
}

.learn h2 {
  padding: 2rem 0 1rem 0;
  color: rgb(51, 58, 86);
}

.courses {
  display: flex;
  align-items: flex-start;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-shrink: 1;
}

.subject {
  display: inline-flex;
  width: 30%;
  flex-shrink: 1;
  flex-direction: column;
  background-color: rgb(51, 58, 86);
  margin: 0.5rem;
}

.entry a:hover {
  color: rgba(247, 245, 230, 0.3);
}

.entry a:active {
  color: rgb(247, 245, 230);
}

.subject img {
  width: 100%;
  height: auto;
}

.subject .entry {
  padding: 1rem 0 1.5rem 1rem;
}

.entry h3, a {
  color: rgba(247, 245, 230, 0.8);
  font-size: 1.25rem;
}

.entry h4 {
  font-weight: 500;
  padding-top: 0.5rem;
  color: rgba(247, 245, 230, 0.7);
}

.entry p {
  font-weight: 300;
  line-height: 1.12;
  padding-top: 0.5rem;
  color: rgba(247, 245, 230, 0.7);
}

/* Learning section changes for 375px (mobile) screens */

@media only screen and (max-width: 375px) {

  .learn {
    padding: 2rem 1rem 1.75rem 1rem;
  }

  .learn h2 {
    padding: 0 0 1rem 0;
  }

  .courses {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex: auto;
  }

  .subject {
    display: inline-block;
    width: 100%;
    margin: 0 0 0.5rem 0;
    border-radius: 6px;
  }

  .subject img {
    display: none;
  }

  .entry h3  {
    padding: 1rem 0 1.5rem 1rem;
  }


  .entry h4, p {
    display: none;
  }

  .entry a {
    font-size: 1.5rem;
  }
}


/* Thesis exhibit section */

.thesis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 2rem 0;
  background-color: rgb(51, 58, 86);
}

.thesis h2 {
  padding-bottom: 2rem;
  color: rgba(247, 245, 230, 0.8);
}

.thesis-info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Lefthand video box */

.thesis-video {
  display: inline-flex;
  position: relative;
  align-content: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 60%;
  padding: 0 1.5rem;
}

.thesis-video video {
  height: 100%;
  width: 100%;
}

.thesis-video h3 {
  padding: 1.5rem 0 0.5rem 0;
  color: rgba(247, 245, 230, 0.8);
}

.thesis-video p.quote {
  color: rgba(247, 245, 230, 0.8);
  padding-bottom: 2rem;
}

.thesis-other {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 40%;
}

.thesis-other .thesis-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0;
  justify-content: flex-start;
  background-color: rgba(82, 101, 143, 0.8);
  color: rgba(247, 245, 230, 0.8);
  border: 0.75px solid  rgb(51, 58, 86);
}

.thesis-other .thesis-item img {
  margin: 1rem;
  width: 35%;
  height: auto;
  padding: 0;
}

div.thesis-details p {
  font-weight: 300;
  padding-top: 0.5rem;
}

div.thesis-item.first {
  background-color: rgba(247, 245, 230, 0.8);
  color: rgb(82, 101, 143);
}

/* Thesis section changes for 375px (mobile) screens */

@media only screen and (max-width: 375px) {

  .thesis {
    background-color: rgba(247, 245, 230, 0.8);
  }

  .thesis h2 {
    color: rgb(51, 58, 86);
  }

  .thesis-video {
    display: inline;
    position: relative;
    width: 100%;
    padding: 0 0 1.5rem 0;
  }

  .thesis-video h3, p {
    display: none;
  }

  .thesis-other {
    display: none;
  }

}


/* Footer */

.footer .container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  padding: 1rem 1rem 1.5rem 1.5rem;
  background-color: rgba(247, 245, 230, 0.6);
  border-bottom: 0.5px solid rgb(51, 58, 86);
}

.footer p {
  color: rgba(82, 101, 143, 0.6);
}

.icons i {
  color: rgba(82, 101, 143, 0.8);
  padding: 0 0.25rem;
}

.icons i:hover {
  color: rgba(51, 58, 86, 0.4);
}

.icons i:active {
  color: rgb(51, 58, 86);
}

div.icons.mobile {
  display: none;
}

.footer nav {
  display: inline-block;
  justify-content: flex-end;
  font-size: 0.75rem;
}

.footer nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.footer nav li {
  padding-left: 1rem;
}

.footer a {
  color: rgba(82, 101, 143, 0.6);
  font-size: 0.75rem;
}

.footer nav a:hover {
  color: rgba(51, 58, 86, 0.4);
}

.footer nav a:active {
  color: rgb(51, 58, 86);
}

/* Footer changes for 375px (mobile) screens */

@media only screen and (max-width: 375px) {

  .footer .container {
    padding: 1rem;
    height: auto;
    background-color: rgba(82, 101, 143, 0.8);
  }

  .footer p {
    display: inline;
    font-size: 0.75rem;
    color: rgba(247, 245, 230, 0.7);
  }

  .icons i {
    color: rgba(247, 245, 230, 0.7);
    padding: 0 0.25rem;
  }

  div.icons.desktop {
    display: none;
  }

  div.icons.mobile {
    display: inline;
  }

  .footer nav {
    display: none;
  }
}
