html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
   max-width: 960px;
   margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header Logo/Company Name */

.tophead .container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
  padding-left: 1.5rem;
  padding-right: 0.25rem;
}

.logo h4 {
  font-size: 1rem;
}

.logo span.Colmar {
  color: black;
  font-weight: bold;
}

.logo span.Academy {
  color: grey;
}

.tophead nav {
  display: inline-block;
  padding-right: 1.5rem;
  justify-content: flex-end;
}

/* Menu */

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

nav li {
  padding-left: 1rem;

}

/* Banner */

.banner .container {
  background-color: grey;
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  justify-content: flex-start;
  background-color: grey;
}

.banner img {
  width: 60%;
  padding-right: 1.5rem;
}

.banner-text {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 30%;

}

.banner-text h1 {
  font-size: 2.5rem;
  line-height: normal;
}

.banner-text h3 {
  font-size: 1.5rem;
  line-height: normal;
  padding: 1.5rem 0;
}

.banner-text .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: blue;
  font-weight: bold;
}
