html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Universal Styles */

body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

.container {
   /* max-width: 960px; */
   margin: 0 auto;
}

.flex {
  display: flex;
}

/* Header Logo/Company Name */

.tophead .container {
  display: flex;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  border: 1px solid black;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 2rem;
  padding-left: 1.5rem;
  padding-right: 0.25rem;
}

.logo h4 {
  font-size: 1rem;
}

.logo span.Colmar {
  color: black;
  font-weight: bold;
}

.logo span.Academy {
  color: grey;
}

.tophead nav {
  display: inline-block;
  padding-right: 1.5rem;
  justify-content: flex-end;
}

/* Menu */

nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;

}

nav li {
  padding-left: 1rem;

}

/* Banner */

.banner .container {
  display: flex;
  align-items: center;
  padding: 2rem 1.5rem;
  justify-content: flex-start;
  background-color: grey;
}

.banner img {
  width: 60%;
  padding-right: 1.5rem;
}

.banner-text {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 30%;
}

.banner-text h1 {
  font-size: 2.5rem;
  line-height: normal;
  font-weight: bold;
}

.banner-text h3 {
  font-size: 1.5rem;
  line-height: normal;
  padding: 1.5rem 0;
  font-weight: 500;
}

.banner-text .button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  width: 100%;
  background-color: blue;
  font-weight: bold;
}

/* Information section */

.info {
  border: 1px solid red;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

/* Lefthand main info box */

.info-main {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  border: 1px solid green;
}

.info-main img {
  width: 100%;
  padding: 2rem 1.5rem;
}

.info-main h2 {
  font-size: 2rem;
  line-height: normal;
  font-weight: bold;
  padding: 0 1.5rem;

}

p.quote {
  font-weight: 300;
  font-color: grey;
  padding: 1.5rem 1.5rem 2rem 1.5rem;
}

p.credit {
  font-weight: 300;
  font-size: 0.75rem;
  padding: 0 1.5rem 2rem 1.5rem;
}

/* Righthand list of other info boxes */

.info-other {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  width: 40%;
  border: 1px solid red;
  padding: 2rem 0 0 1rem;
}

.info-other .info-item {
  display: flex;
  align-items: center;
  padding: 0.5rem 0.5rem 0.5rem 0;
  justify-content: flex-start;
  border: 1px solid orange;
}

div.info-item.first {
  padding: 0 0.5rem 0.5rem 0;
}

.info-item img {
  width: auto;
  padding-right: 1.5rem;
  width: 35%;
  height: auto;
}

.info-details {
  display: inline-flex;
  position: relative;
  flex-direction: column;
  /* width: 40%; */
  border: 1px solid black;

}
.info-item h3 {
  font-size: 1.25rem;
  font-weight: bold;
}

.info-item p {
  font-size: 0.75rem;
  font-weight: 300;
  padding-top: 0.5rem;
}

.info-item a {
  font-size: 0.75rem;
  font-weight: 300;
  padding-top: 0.5rem;
}
